<div class="container">
  <header>Header</header>
  <!-- Input dropdown -->
  <button (click)="getInfo()">Refresh</button>
  <table>
    <tbody>
      <tr>
        <td>Url</td>
        <td><input type="text" [(ngModel)]="apiUrl"></td>
      </tr>
      <tr>
        <td><label for="Key1">Key: </label><input type="text" name="Key1" [(ngModel)]="Key1"></td>
        <td><label for="Value1">Value: </label><input type="text" name="Value1" name="Value1" [(ngModel)]="Value1"></td>
      </tr>
      <tr>
        <td><label for="Key2">Key: </label><input type="text" name="Key2" [(ngModel)]="Key2"></td>
        <td><label for="Value2">Value: </label><input type="text" name="Value2" name="Value2" [(ngModel)]="Value2"></td>
      </tr>
      <tr>
        <td><label for="Key3">Key: </label><input type="text" name="Key3" [(ngModel)]="Key3"></td>
        <td><label for="Value3">Value: </label><input type="text" name="Value3" name="Value3" [(ngModel)]="Value3"></td>
      </tr>
      <tr>
        <td><label for="Key4">Key: </label><input type="text" name="Key4" [(ngModel)]="Key4"></td>
        <td><label for="Value4">Value: </label><input type="text" name="Value4" name="Value4" [(ngModel)]="Value4"></td>
      </tr>
    </tbody>
  </table>
  
  <!-- display -->
  <table >
    <thead>
      <tr >
        <th *ngFor= "let title of keysArr2">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allData">
        <td>{{ data.volume }}</td>
        <td>{{ data.venue }}</td>
        <td>{{ data.venueName }}</td>
        <td>{{ data.effectiveSpread }}</td>
        <td>{{ data.effectiveQuoted }}</td>
        <td>{{ data.priceImprovement }}</td>
      </tr>
    </tbody>
  </table>
  <app-json-viewer [allData]="allData" ></app-json-viewer>
</div>